.header {
  background-color: var(--color-bg);
  left: 0;
  padding: var(--space-4) 0;
  position: fixed;
  top: 0;
  transition: background-color 240ms ease, color 240ms ease;
  z-index: 20;
}

.linkStack{
  gap: var(--space-5);

  @media (--bp-up-xs) {
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

.links {
  font-size: var(--text-body);
  --link-color: var(--color-text);
  color: var(--color-text);
  transition: color 1240ms ease;
}
