.header {
  --header-nav-text: var(--color-text-dark);
  --header-bg: #ffffff;

  background-color: var(--header-bg);
  left: 0;
  padding: var(--space-4) 0;
  position: fixed;
  top: 0;
  transition: background-color 240ms ease, color 240ms ease;
  z-index: 20;
}

.navLight {
  --header-nav-text: #020024;
  --header-bg: #00d4ff;
}

.navDark {
  --header-nav-text: #00d4ff;
  --header-bg: #020024;
}

.linkStack{
  gap: var(--space-5);

  @media (--bp-up-xs) {
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

.links {
  font-size: var(--text-body);
  --link-color: var(--header-nav-text);
  color: var(--header-nav-text);
  transition: color 1240ms ease;
}
