.actionsContent {
  max-width: 20rem;
}

.customLink {
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  --link-color: #fff;
  --link-border: rgba(63, 94, 251, 1);
}
