.footerContainer {
  background-color: var(--color-bg);
  padding: var(--space-2) var(--space-4) var(--space-8) var(--space-4);
}

.missionPrivacyStack {
  align-items: flex-start;
  gap: var(--space-6);
  width: fit-content;
}

.author,
.footerMission,
.footerLinks,
.footerDisclaimer,
.sourceCode {
  padding-left: var(--space-2);
}

.footerH2,
.footerMission,
.footerDisclaimer,
.linkText {
  color: var(--color-text);
  text-align: left;
  width: 100%;
}

.footerAuthorName,
.linkText {
  font-size: var(--font-size-3);
}

.footerH2 {
  font-size: var(--text-heading);
  margin-bottom: var(--space-2);
  text-decoration: underline;
}

.footerLogo {
  border-radius: var(--radius-sm);
  height: auto;
  width: 5rem;
}

.footerAuthorName {
  color: var(--color-primary-contrast);
  text-align: left;
}

.footerMission {
  font-size: var(--text-caption);
}

.footerLogoLinks {
  display: inline-flex;
  transition: transform 320ms ease;
}

.footerLogoLinks:hover {
  transform: scale(1.1);
}

.footerDisclaimer {
  font-style: italic;
}

.linkText {
  width: fit-content;
}

@media (--bp-up-xs) {
  .footerMission {
    width: 60%;
  }
}

@media (--bp-up-sm) {
  .missionPrivacyStack {
    flex-direction: row;
    gap: 0rem;
  }
}
