.aboutMeText {
  margin-bottom: var(--space-4);
  text-align: left;
  text-indent: 2rem;
  width: 95%;
}

.learnMoreContainer {
  align-items: flex-start;
  width: 95%;
}
/* Initial Prep */
.aboutItemAnimation {
  filter: saturate(0.8);
  opacity: 0;
}

.aboutItemAnimation[data-animate-ready='true'] {
  transition-delay: var(--project-stagger, 0ms);
  transition-duration: 1.55s, 1.45s;
  transition-property: opacity, filter;
  transition-timing-function: ease, ease;
}

.aboutItemAnimation[data-animated='true'] {
  filter: none;
  opacity: 1;
}

.actionsContainer {
  margin-left: 1rem;
}

.webdevList {
  align-self: stretch;
}

.resumeButtonLabel {
  font-family: var(--font-family-body);
  font-size: var(--text-caption);
}

.resumeBtn {
  border-width: .2rem;
  transition: background-color 0.3s ease-in-out;
}

.resumeBtn:hover, .resumeBtn:focus-visible {
  background-color: #babec5;
  transform: none;
}

.techStackH3 {
  margin-bottom: 1.2rem;
}

@media (--bp-up-xs) {
  .resumeButtonLabel {
    font-size: var(--text-body );
  }
}

@media (--bp-up-md) {
  .aboutMeText {
    width: 70%;
  }

  .learnMoreContainer {
    justify-content: center;
    flex-direction: row;
    gap: 12rem;
  }
}

@media (--bp-up-lg) {
  .aboutMeText {
    width: 50%;
  }
}
