[data-theme='light'] {
  /* Backgrounds */
  --color-bg: #ececec;
  /* --color-bg-depth: gray; */
  --color-surface: #f7f8fa;

  /* Text */
  --color-text: #0f172a;
  /* --color-text-secondary: black; */

  /* Forms */
  --color-form-surface: #ececec;
}
