:root {
  /* Backgrounds */
  --color-bg: #ececec;
  /* --color-bg-depth: gray; */
  --color-surface: #f7f8fa;

  /* Text */
  --color-text: #0f172a;
  /* --color-text-secondary: black; */
  --color-text-muted: #475569;

  /* Borders */
  --color-border: #4b6480;

  /* Brand */
  --color-primary: #0f766e;
  --color-primary-contrast: #fff;

  /* Feedback */
  --color-success: #044d14;
  --color-success-focus: #0eb44b;
  --color-error: #9c1d1d;
  --color-error-focus: #eb5555;

  /* Focus */
  --color-focus: #1d4ed8;

  /* Font Family */
  /* --font-family-hero: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
                      Arial, sans-serif; */
  --font-family-header: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
                        Arial, sans-serif;
  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
                      Arial, sans-serif;
  /* --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "JetBrains Mono",
                      "Fira Code", "Segoe UI Mono", "Ubuntu Mono", "Courier New", monospace; */
}
