[data-base-theme="app"] {
  /* Text */
  --color-text-muted: #202e41;

   /* Brand */
  --color-primary: #0f766e;
  --color-primary-contrast: #fff;

  /* Borders */
  --color-border: #020024;

  /* Feedback */
  --color-success: #044d14;
  --color-success-focus: #0eb44b;
  --color-error: #9c1d1d;
  --color-error-focus: #eb5555;

  /* Focus */
  --color-focus: #1d4ed8;

  /* Font Family */
  /* --font-family-hero: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
      Arial, sans-serif; */
  --font-family-header: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
                        Arial, sans-serif;
  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
                      Arial, sans-serif;
  /* --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "JetBrains Mono",
      "Fira Code", "Segoe UI Mono", "Ubuntu Mono", "Courier New", monospace; */
}
