[data-theme='dark'] {
  /* Backgrounds */
  --color-bg: #0f172a;
  /* --color-bg-depth: gray; */
  --color-surface: #1e293b;

  /* Text */
  --color-text: #ececec;
  /* --color-text-secondary: black; */
}
