[data-theme='dark'] {
  /* Backgrounds */
  --color-bg: #020024;
  /* --color-bg-depth: gray; */
  --color-surface: #f7f8fa;

  /* Text */
  --color-text: #f7f8fa;
  --color-text-muted: #475569;

  /* Borders */
  --color-border: #020024;

  /* Brand */
  --color-primary: #090979;
  --color-primary-contrast: #f30b0b;

  /* Feedback */
  --color-success: #044d14;
  --color-success-focus: #0eb44b;
  --color-error: #9c1d1d;
  --color-error-focus: #eb5555;

  /* Focus */
  --color-focus: #00D4FF;
}
