[data-theme='light'] {
  /* Backgrounds */
  --color-bg: #00D4FF;
  --color-bg-depth: #009dbe;
  --color-surface: #f7f8fa;
  --color-form-surface: #ececec;

  /* Text */
  --color-text: #020024;

  /* Focus */
  --color-focus: #020024;
}
