[data-theme='dark'] {
  /* Backgrounds */
  --color-bg: #020024;
  --color-bg-depth: #009dbe;
  --color-surface: #f7f8fa;

  /* Text */
  --color-text: #f7f8fa;
  
  /* Focus */
  --color-focus: #00D4FF;
}
